.main-container{
  display: grid;
  grid-template-columns: .6fr 2fr 8fr;
  @media only screen and (max-width:$bp-medium){
    grid-template-columns: 1fr 9fr;
    }
  @media only screen and (max-width:$bp-small){
   grid-template-columns: 1fr;
   }
}
.container{
  height: 100vh;
}

.container-2{
  background-color: var(--color-primary);
  height: 100vh;
}


.container-3{
  background-color: var(--color-secondary);
  display: grid;
  height: 100vh;
  @media only screen  and (max-width:$bp-medium){
    grid-template-columns:  1fr;

}
}


